<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Upload Do Arquivo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        h1 {
            color: black;
            text-align: center;
        }

        .container {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        .box {
            border-radius: 10px;
            border: 2px solid black;
            background-color: lightgray;
            padding: 5px;
        }
    </style>

</head>
<body style="background-color: gray">
<br>
<h1>Faça Upload do Arquivo</h1>
<br><br>
<div class="container">
    <div class="box">
        <form method="post" enctype="multipart/form-data" action="http://localhost:8080/upload">

            <input type="file" name="pdf" accept=".pdf" class="btn w-100 mt-3">
            <input type="submit" class="btn w-100 mt-3"
                   style="background-color: black; border-color: black; color: aliceblue; height: 45px; font-size: 20px;"
                   value="upload">

        </form>
    </div>
</div>
</body>
</html>